/* stylelint-disable at-rule-no-unknown */
/* Tailwind directives processed by PostCSS + Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* stylelint-enable at-rule-no-unknown */


button[type="submit"]{
	border-radius: 5px;
	background-color:#2563EB;
	color: white;
	border: none;
	margin-top: 10px;
}
button[type="submit"]:hover {
  background-color: darkblue;
}

/* Text styling */

.errorMessage {
	color: red;
}